.fas
{
    margin-right:4px !important; /*override*/
}

.pagination .fas
{
    margin-right:0 !important; /*override*/
}

.pagination a
{
    color:#fff;
}

.card ul
{
    padding:0;
    margin:0;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0;
    border-bottom:1px dotted #555;
}

.title {
    display:block;
    font-weight:bold;
    width:100%;
}

.nostyle {
    list-style:none;
}
.nostyle li {
    padding-bottom:5px;
}

.img-circle {

}
