*{

}
#content {
    width:1000px;
    height:750px;
    margin:auto;
    /*overflow-y: hidden;*/
}
.nostyle {
    list-style:none;
}
.nostyle li {
    padding-bottom:5px;
}
.title {
    font-weight:bold;
    font-size:large;
    display:block;
}