:root {
    --polar1: #2e3440;
    --polar2: #3b4252;
    --polar3: #434c5e;
    --polar4: #4c556a;
    --snow1: #d8dee9;
    --snow2: #e5e9f0;
    --snow3: #eceff4;
    --frost1: #8fbcbb;
    --frost2: #88c0d0;
    --frost3: #81a1c1;
    --frost4: #5e81ac;
    --red: #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green: #a3be8c;
    --purple: #b48ead;
}
body {
    background-color: var(--polar1);
}
#content {
    /*background-color:black;*/
    width:1000px;
    margin:auto;
    box-sizing: border-box;
    padding:20px;
    border-radius: 15px;
    background-color: var(--polar2);
    border: 1px solid var(--polar2);
    color: var(--frost2);
}

#content h1 {
    color: var(--snow1);
}


/* for weather */

#icon {
    width:2em;
}


.bottom-right {
    bottom:10px;
    right:10px;
    position:fixed;
}

#weather {
    background-color:rgba(255, 255, 255, 0.5);
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    margin: 0 auto;
    box-shadow: 10px 10px;
    box-sizing: border-box;
    padding: 5px;
    border-radius:.5em;
}

#weather span {
    display:inline-block;
}

#weather .hl {
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

.hl-label {
    font-weight: 400;
}

